# ========================
# LOCAL (INTELLIJ)
# ========================
spring.datasource.url=jdbc:mysql://<HOST>:<PORT>/<DATABASE>
spring.datasource.username=<USERNAME>
spring.datasource.password=<PASSWORD>

# ========================
# DOCKER (MYSQL)
# ========================
MYSQL_ROOT_PASSWORD=<ROOT_PASSWORD>
MYSQL_DATABASE=<DATABASE>
MYSQL_USER=<USER>
MYSQL_PASSWORD=<PASSWORD>

# ========================
# DOCKER (SPRING)
# ========================
SPRING_DATASOURCE_URL=jdbc:mysql://<MYSQL_HOST>:<PORT>/<DATABASE>
SPRING_DATASOURCE_USERNAME=<USERNAME>
SPRING_DATASOURCE_PASSWORD=<PASSWORD>